#inputwords{
  display: block;
}
#outputwords{
  display: none;
}
#inputnumber{
  display: block;
}
#outputnumber{
  display: none;
}
#inputpalindrome{
  display: block;
}
#outputpalindrome{
  display: none;
}
