body {
  background: #e6f2ff
}

#inputwords{
  display: block;
}
#outputwords{
  display: none;
}
#inputnumber{
  display: block;
}

#outputnumber{
  display: none;
}

#inputpalindrome{
  display: block;
}
#outputpalindrome{
  display: none;
}
#inputprime{
  display: block;
}
#outputprime{
  display: none;
}

.jumbotron.wordpuzzle {
  margin-top: 20px;
  background-image: url("../img/short-vowels.jpg");
  background-position: 0% 30%;
  background-size: cover;
  color: white;
  text-shadow:
    1px 1px #000000,
    -1px -1px #000000,
    -1px 1px #000000,
    1px -1px #000000;
}

.jumbotron.palindrome {
  margin-top: 20px;
  background-image: url("../img/banana.jpg");
  background-position: 0% 50%;
  background-size: cover;
  color: white;
  text-shadow:
    1px 1px #000000,
    -1px -1px #000000,
    -1px 1px #000000,
    1px -1px #000000;
}

.jumbotron.factorial {
  margin-top: 20px;
  background-image: url("../img/count.jpg");
  background-position: 0% 20%;
  background-size: cover;
  color: white;
  text-shadow:
    1px 1px #000000,
    -1px -1px #000000,
    -1px 1px #000000,
    1px -1px #000000;
}

.jumbotron.prime {
  margin-top: 20px;
  background-image: url("../img/prime.jpeg");
  background-position: 0% 60%;
  background-size: cover;
  color: white;
  text-shadow:
    1px 1px #000000,
    -1px -1px #000000,
    -1px 1px #000000,
    1px -1px #000000;
}

.header{
  font-family: cursive;
}
